.THIS .grid {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 5px;
}
.THIS .pos1 {
    grid-column-start: 1;
    margin: 8px;
}
.THIS .pos2 {
    grid-column-start: 2;
    margin-top: 12px;
}