.THIS {
    /*max-height: 200px;*/
    background-color: #fff;
    color: #3e3e3c;
    /*overflow: hidden;*/
    transition: max-height 0.2s ease-in-out,
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}
@media (max-width: 374px) {
    .THIS:not(.collapsed){
        max-height: 230px !important;
    }
    .THIS:not(.collapsed) .collapsable {
        max-height: 92px !important;
    }
}
@media (width: 1024px) {
    .THIS {
        max-height: none !important;
    }
}
.THIS.collapsed .collapsable {
    z-index: -1;
}
.THIS.collapsed {
    max-height: 44px;
    background-color: #004698;
    color: #fff;
}
.THIS svg.slds-icon-text-default {
    transition: fill 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}
.THIS.collapsed svg.slds-icon-text-default {
    fill: #fff;
    transform: rotatez(-90deg);
}
/*.THIS.collapsed .slds-icon-waffle_container:not(:focus) .slds-icon-waffle [class*=slds-r] {
    background-color: #fff;
}*/
.THIS .collapseTool {
    display: none;
}
.THIS .collapseTool button{
    box-shadow: none;
}
@media screen and (max-width: 768px) {
    .THIS .collapseTool {
        display: block;
    }
}
.THIS .selectedValue {
    color: #fff;
    max-width: 0;
    height: 26px;
    overflow: hidden;
    margin-left: 5px;
    transition: max-width 0.2s ease-in-out;
}
.THIS.collapsed .selectedValue {
    max-width: 100%;
}
.THIS .collapsable {
    max-height: 70px;
    opacity: 1;
    transition: max-height 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}
.THIS.collapsed .collapsable {
    max-height: 0;
    opacity: 0;
}
.THIS h1 {
    padding-bottom: 5px;
    font-size: 1.1rem;
    display: inline-flex;
}
.THIS p {
    text-align: center;
    padding: 0 30px;
    color: #808080;
}
.THIS .slds-select_container:after {
    border-top: 7px solid rgb(112, 110, 107);
    bottom: calc((1.75rem / 2) - 2px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.THIS .slds-select_container:before {
	content: none;
}

.THIS .selections {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}