<template>
  <div>
    <section role="alertdialog" tabindex="0" aria-labelledby="prompt-heading-id" aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal_prompt" aria-modal="true">
      <div class="slds-modal__container">
        <header class="slds-modal__header slds-theme_success slds-theme_alert-texture">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
            <svg class="slds-button__icon slds-button__icon_large">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2 class="slds-text-heading_medium" id="prompt-heading-id">{header}</h2>
        </header>
        <div class="slds-modal__content slds-var-p-around_medium" id="prompt-message-wrapper">
          <p>{message}</p>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </div>
</template>