.THIS {
    flex-wrap:wrap;
    position: relative;
}
.THIS .busy {
    position: absolute;
    left: 12px;
    width: calc(100% - 24px);
    height: calc(100% - 10px);
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9;
}