.THIS {
    padding: 20px;
    width: 100%;
    min-height: 244px;
    background-color: white;
    position: relative;
}

.THIS .header-body {
    text-align: center;
    padding-bottom: 10px;
}

.THIS .header {
    display: inline;
    justify-content: space-between;
    flex-direction: row;
}
.THIS .topBar {
    display: grid;
    grid-template-areas: "info";
}
.THIS .fix-algn {
    width: 0;
}
@media (min-width: 768px) {
    .THIS .topBar {
        grid-template-areas: ". info .";
    }
    .THIS .header {
        display: flex;
    }
}
@media (min-width: 1024px) {
    .THIS .fix-algn {
        width: 28%;
    }
}
.THIS .topBar .period-info {
    grid-area: info;
    text-align: center;
    margin: 5px 0;
}
.THIS .slds-radio_button-group {
    float: right;
}
.THIS .tableWrapper {
    max-width: 100%;
    max-height: 600px;
}
.THIS tr {
    height: 28px;
}
.THIS td.negative {
    background-color: #f79494;
}
.THIS  tbody tr:hover>td.negative {
    background-color: #ffc1c1;
}
/* SLDS Base Lightning Table Component Customization */
/* The table using this is now commented and these styles
 * must be deleted if the 'hand-crafted' table works just fine.
*/
.THIS tr[is="lightning-primitive-datatable-row"] {
    height: 28px;
}
.THIS lightning-primitive-header-actions {
    display: none;
}
.THIS .slds-table_col-bordered td+td,
.THIS .slds-table_col-bordered th+th,
.THIS .slds-table_col-bordered th+td,
.THIS .slds-table_col-bordered td+th,
.THIS .slds-table--col-bordered td+td,
.THIS .slds-table--col-bordered th+th,
.THIS .slds-table--col-bordered th+td,
.THIS .slds-table--col-bordered td+th {
    border-left: 1px solid rgb(221, 219, 218) !important;
}
.THIS .negative button {
    color: red;
}
.THIS .positive button {
    color: #000;
}
.THIS .negative button,
.THIS .positive button {
    box-shadow: none;
    user-select: none;
}
.THIS .graphNotVisible {
    display: none;
}
.THIS .pds-select label {
    margin: 0;
    padding: 0;
    position: absolute;
}
.THIS .slds-select_container:after {
    border-top: 7px solid rgb(112, 110, 107);
    bottom: calc((1.75rem / 2) - 2px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.THIS .slds-select_container:before {
	content: none;
}