.THIS ::-webkit-input-placeholder {
   color:transparent;
}

.THIS :-moz-placeholder { /* Firefox 18- */
   color:transparent; 
}

.THIS ::-moz-placeholder {  /* Firefox 19+ */
   color:transparent; 
}

.THIS :-ms-input-placeholder {  
   color:transparent;
}

.THIS.scrollerSize {
    height: 600px;
}