.THIS .productGrid {
    display: grid;
	grid-template-columns: 20% 16% 16% 16% 16% 16%;
	margin: 2px;
}
.THIS .gridPos1 {
	grid-column-start: 1;
	margin: 2px;
}
.THIS .gridPos2 {
	grid-column-start: 2;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos3 {
	grid-column-start: 3;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos4 {
	grid-column-start: 4;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos5 {
	grid-column-start: 5;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos6 {
	grid-column-start: 6;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos1 .slds-form-element__label {
	display: none;
}
.THIS .gridPos2 .slds-form-element__label {
	display: none;
}
.THIS .gridPos3 .slds-form-element__label {
	display: none;
}
.THIS .gridPos4 .slds-form-element__label {
	display: none;
}
.THIS .gridPos5 .slds-form-element__label {
	display: none;
}
.THIS .gridPos6 .slds-form-element__label {
	display: none;
}
.THIS .productContainer {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: inset;
	padding-bottom: 5px;
}
.THIS .yearLabel {
	font-size: 13px;
}
.THIS .productLabel {
	font-weight: bold;
	font-size: initial;
	margin-left: 3px;
}

.THIS h3 {
	color: black;
}