.THIS #progress-indicator-tooltip {
    display: none;
}
.THIS .slds-text-heading_medium {
    font-weight: bold;
}
.THIS .slds-form-element__label {
    font-weight: bold;
}
.THIS .slds-form-element_horizontal .slds-form-element__control,.THIS .slds-form_horizontal .slds-form-element .slds-form-element__control,.THIS .slds-form_stacked .slds-form-element_horizontal .slds-form-element__control {
    padding-left: 20%;
}
.THIS input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.THIS input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}