.THIS.outerScroller {
    overflow: hidden;
    overflow-x: scroll;
    display: block;
    padding: 20px;
    width: 100%;
    min-height: 244px;
    background-color: white;
}

.THIS.innerScroller {
    /* make innerScroller rounded */
    width: 100%;
    border-radius: 10px;
}