.THIS {
    padding: 20px;
    width: 100%;
    min-height: 500px;
    max-height: 1000px;
    overflow: auto;
    background-color: white;
    position: relative;
}
.THIS .topBar {
    margin-bottom: 10px;
}
.THIS .topBar h1 {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 10px;
}
.THIS .topBar .slds-button {
    position: relative;
    top: -4px;
    background: #3e77ad;
}
@media screen and (max-width: 768px) {
    .THIS .topBar {
        /*-webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;*/
        display: grid !important;
        justify-items: center;
    }
}
.THIS .topBar > div {
    text-align: center;
    margin: 5px 0;
}
.THIS .tableWrapper {
    max-width: 100%;
    max-height: 600px;
}
.THIS thead th {
    cursor: pointer;
}
.THIS .sortArrow {
    float: right;
    position: relative;
    top: -1px;
    /*margin-left: 3px;*/
}
.THIS tr {
    height: 28px;
}
.THIS td.negative {
    background-color: #f79494;
}
.THIS td.closes {
    background-color: #94f79c;
}
.THIS  tbody tr:hover>td.negative {
    background-color: #ffc1c1;
}
.THIS  tbody tr:hover>td.closes {
    background-color: #b5f7ba;
}
.THIS .positiveGap svg.slds-icon-text-error {
    fill: green;
}
.THIS .actionsFooter {
    text-align: center;
    padding-top: 15px;
}
.THIS .actionsFooter button {
    margin: 0 5px;
}
.THIS .pds-select label {
    margin: 0;
    padding: 0;
    position: absolute;
}
.THIS .slds-select_container:after {
    border-top: 7px solid rgb(112, 110, 107);
    bottom: calc((1.75rem / 2) - 2px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.THIS .slds-select_container:before {
	content: none;
}
.THIS .notVisible {
    display: none;
}