.THIS {
    padding: 20px;
    width: 100%;
    min-height: 500px;
    max-height: 1000px;
    overflow: auto;
    background-color: white;
    position: relative;
}
.THIS .tableWrapper {
    max-width: 100%;
    max-height: 600px;
}