h1 {
    padding-bottom: 5px;
    font-size: 1.1rem;
    display: inline-flex;
}
lightning-layout-item{
    display: inline-block;
}
p {
    text-align: center;
    padding: 0 30px;
    color: #808080;
}
.card-text{
    text-align: center;
}
.card-text > .slds-slot{
    margin: auto;
}
.component{
    width: 100%;
    background-color: #fff;
    color: #3e3e3c;
    padding-bottom: 14px;
}
lightning-icon {
    transition: transform 0.2s ease-in-out;
}
.component > div {
    max-height: fit-content;
    transition: max-height 0.2s ease-in-out,
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}
.collapsable {
    max-height: fit-content;
    opacity: 1;
    transition: max-height 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}
.collapsed .collapsable {
    max-height: 0;
    opacity: 0;
}
.component > div.collapsed {
    max-height: fit-content;
    background-color: #004698;
    color: #fff;
}
.component > div.collapsed lightning-icon {
    fill: #fff;
    transform: rotatez(-90deg);
}

.component > div.collapsed .selectedValue {
    max-width: 50px;
}
.collapseTool {
    display: none;
}
.collapseTool button{
    box-shadow: none;
}
.collapsed svg.slds-icon-text-default {
    fill: #fff;
    transform: rotatez(-90deg);
}
.label-text{
    font-size: 14px;
}
.selectedValue {
    color: #fff;
    max-width: 0;
    overflow: hidden;
    margin-left: 5px;
    text-transform: capitalize;
    transition: max-width 0.2s ease-in-out;
}
svg.slds-icon-text-default {
    transition: fill 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
    .collapseTool {
       display: block;
   }
   .component{
       height: fit-content;
        padding-bottom: 0px;
    }
}