<template>
    <div class="component">
        <div class={collapsed}>
            <lightning-layout multiple-rows="true" class="card-text" horizontal-align="center" vertical-align="start">
                <lightning-layout-item size="1" class="slds-p-around_small">
                    <div class="collapseTool" onclick={collapse}>
                        <lightning-icon icon-name="utility:switch" alternative-text="Expand or collapse" size="small" variant={iconVariant}></lightning-icon>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="10" padding="around-small" class="slds-grid slds-grid_vertical slds-grid_vertical-align-center">
                    <h1>Period Selector <div class="selectedValue">({selectedTimeRangeLabel})</div></h1>
                    <p class="collapsable">The view of the components of the page will change depending on the time frame selected</p>
                </lightning-layout-item>
                <lightning-layout-item size="1"></lightning-layout-item>
                <lightning-layout-item size="12" padding="around-small" class="slds-grid slds-grid_vertical slds-grid_vertical-align-center collapsable">
                    <lightning-radio-group name="viewOptionsRG"
                                            label=""
                                            options={viewOptions}
                                            value={selectedTimeRange}
                                            onchange={changeTimeRange}
                                            type="button"
                                            class="label-text">
                    </lightning-radio-group>
                </lightning-layout-item>
            </lightning-layout>
        </div>
    </div>
</template>