.THIS {
    padding: 20px;
    width: 100%;
    min-height: 500px;
    max-height: 1000px;
    overflow: auto;
    background-color: white;
    position: relative;
}
.THIS .topBar {
    margin-bottom: 10px;
}
.THIS .topBar h1 {
    font-size: 1.1rem;
}
@media screen and (max-width: 768px) {
    .THIS .topBar {
        /*-webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;*/
        display: grid !important;
        justify-items: center;
    }
}
.THIS .topBar > div {
    text-align: center;
    margin: 5px 0;
}
.THIS .tableWrapper {
    max-width: 100%;
    max-height: 600px;
}
.THIS thead th {
    cursor: pointer;
}
.THIS .sortArrow {
    float: right;
    position: relative;
    top: -1px;
    /*margin-left: 3px;*/
}
.THIS tr {
    height: 28px;
}
.THIS td.negative {
    background-color: #f79494;
}
.THIS  tbody tr:hover>td.negative {
    background-color: #ffc1c1;
}
.THIS .positiveGap svg.slds-icon-text-error {
    fill: green;
}
.THIS .accountCell {
    cursor: pointer;
}
.THIS .actionsFooter {
    text-align: center;
    padding-top: 15px;
}
.THIS .actionsFooter button {
    margin: 0 5px;
}
.THIS .mobile div.slds-listbox.slds-listbox_vertical {
    /*position: fixed;
    overflow-y: auto;
    max-height: calc(100vh - 20px);
    width: 340px;
    top: 10px;
    left: calc(50vw - 170px);
    outline: solid 1800px rgba(0,0,0,0.5);*/
}
.THIS .pds-select label {
    margin: 0;
    padding: 0;
    position: absolute;
}
.THIS .slds-select_container:after {
    border-top: 7px solid rgb(112, 110, 107);
    bottom: calc((1.75rem / 2) - 2px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.THIS .slds-select_container:before {
	content: none;
}
.THIS .link-to-account lightning-formatted-text {
    color: rgb(0, 109, 204);
    cursor: pointer;
}
.THIS .link-to-account lightning-formatted-text:hover,
.THIS .link-to-account lightning-formatted-text:focus {
    text-decoration: underline;
    color: rgb(0, 95, 178);
}
.THIS .notVisible {
    display: none;
}