.THIS {
    background-color: #fff;
    min-height: 200px;
    max-height: 350px;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
    position: relative;
}
@media screen and (min-width: 769px) {
    .THIS {
        width: calc(100% / 3 * 2);
    }
}
.THIS h2, .THIS h3 {
    padding-left: .75rem;
    font-weight: 300;
    color: rgb(8, 7, 7);
}
.THIS h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.THIS h3 {
    font-size: 0.9rem;
    margin-bottom: 15px;
}
.THIS tr .slds-truncate {
    font-size: 11px;
}
/*.THIS thead th {
    cursor: pointer;
}
.THIS th .slds-icon_container {
    position: relative;
    top: -1px;
}
.THIS th .slds-icon_xx-small {
    width: .6rem;
    height: .6rem;
}*/