.THIS .slds-media {
    margin-bottom: 10px;
}
.THIS .help-text {
    padding-top: .65rem;
}
.THIS .showCloseModal {
    position: absolute;
    text-align: right;
    margin: -10px -25px 5px 0;
    cursor: pointer;
    right: 35px;
}