h1 {
    padding-bottom: 5px;
    font-size: 1.1rem;
    display: inline-flex;
}
lightning-layout-item{
    display: inline-block;
}
p {
    text-align: center;
    padding: 0 30px;
    color: #808080;
}
.card-text{
    text-align: center;
}
.component{
    width: 100%;
    background-color: #fff;
    color: #3e3e3c;
    padding-bottom: 19px
}
lightning-icon {
    transition: transform 0.2s ease-in-out;
}
.component > div {
    max-height: 200px;
    transition: max-height 0.2s ease-in-out,
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}
.collapsable {
    max-height: 70px;
    opacity: 1;
    transition: max-height 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}
.collapsed .collapsable {
    max-height: 0;
    opacity: 0;
}
.component > div.collapsed {
    max-height: 44px;
    background-color: #004698;
    color: #fff;
}
.component > div.collapsed lightning-icon {
    fill: #fff;
    transform: rotatez(-90deg);
}

.component > div.collapsed .selectedValue {
    max-width: 50px;
}
.collapseTool {
    display: none;
}
.collapseTool button{
    box-shadow: none;
}
.selectedValue {
    color: #fff;
    max-width: 0;
    overflow: hidden;
    margin-left: 5px;
    transition: max-width 0.2s ease-in-out;
}
svg.slds-icon-text-default {
    transition: fill 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}
.option-text{
    text-align: left;
}
.irsa-select label {
    margin: 0;
    padding: 0;
    position: absolute;
 }
 .slds-select_container:after {
    border-top: 7px solid rgb(112, 110, 107);
    bottom: calc((1.75rem / 2) - 2px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
 }
.slds-select_container:before {
     content: none;
 }
@media screen and (max-width: 768px) {
    .collapseTool {
       display: block !important;
   }
   .component{
        padding-bottom: 0px;
    }
}