<template>
    <div class="component">
        <div class={collapsed}>
            <lightning-layout multiple-rows="true" class="card-text" horizontal-align="center" vertical-align="start">
                <lightning-layout-item size="1" class="slds-p-around_small">
                    <div class="collapseTool" onclick={collapse}>
                        <lightning-icon icon-name="utility:switch" alternative-text="Expand or collapse" size="small" variant={iconVariant}></lightning-icon>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="10" padding="around-small" class="slds-grid slds-grid_verticsal slds-grid_vertical-align-center">
                    <h1>User Selector <div class="selectedValue">({selectedUser})</div></h1>
                    <p class="collapsable">The view of the components of the page will change depending on the user selected</p>
                </lightning-layout-item>
                <lightning-layout-item size="1"></lightning-layout-item><lightning-layout-item size="1"></lightning-layout-item>
                <lightning-layout-item size="10" class="collapsable">
                    <lightning-layout-item size="12" padding="around-small" class="slds-grid slds-grid_vertical slds-grid_vertical-align-center option-text">
                        <div class="slds-select_container">
                            <select class="slds-select irsa-select" onchange={changeUser}>
                                <template for:each={users} for:item='user'>
                                    <option key={user.value} value={user.value}>{user.label}</option>
                                </template>
                            </select>
                        </div>
                    </lightning-layout-item>
                </lightning-layout-item>
            </lightning-layout>
        </div>
    </div>
</template>