.THIS .pill-size {
    width: 100%;
}

.THIS .result-list {
    min-height: 40px;
    max-height: 490px;
    overflow: auto;
    margin-top: 0px !important;
}

.THIS .left-pad-text {
    padding-left: 2rem;
}