.scrollingOnIOS > *:not(.skipTransform) {
    /**
     * put in memory every element inside of the scroll wrapper
     * making faster the render process and avoiding white screen
     */
    transform: translate3d(0,0,0);
}

.scrollingOnIOS {
    -webkit-overflow-scrolling: touch;
}