html{
    position: fixed;
}
body{
    position: fixed;
}
.account-cell{
    font-weight: bold;
}
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.height{
    height: 300px;
}
.inline{
    display: inline;
}
.relative{
    position:relative;
}
.table{
    background-color: rgb(255, 255, 255);
    font-size: inherit;
    width: 100%;
    border-spacing: 0;
    display: table;
}
.table-bordered{
    border-collapse: separate;
    border-top: 1px solid rgb(221, 219, 218);
    border-bottom: 1px solid rgb(221, 219, 218)
}
.table-element:first-child{
    border-left:0px;
}
.table-element{
    display: inline-block;
    border-top: 1px solid rgb(221, 219, 218);
    padding: .25rem .5rem;
    border-left: 1px solid rgb(221, 219, 218);
    position: relative;
    white-space: nowrap;
    vertical-align:top;
}
.table-row:hover{
    box-shadow: rgb(221, 219, 218) 0 -1px 0 inset, rgb(221, 219, 218) 0 1px 0 inset;
    background-color: rgb(243, 242, 242);
}
.title-row{
    background: #f3f2f2;
}
 .wrapper{
    display: block;
    padding: 20px;
    width: 100%;
    min-height: 244px;
    background-color: white;
    position: relative;
 }
@media screen and (max-width: 768px) {
    .wrapper{
        display: block;
        padding: 20px;
        width: 100%;
        min-height: 244px;
        background-color: white;
        position: relative;
        overflow: auto;
        height: 100%;
    }
    .table{
        width: 1500px !important;
        user-select: none;
    }
    .table-row:hover{
        box-shadow: none !important;
        background-color: initial;
        user-select: none;
    }
}