<template>
    <template if:true={themeDesktop}>
        <template if:true={dataLoaded}>
            <c-scroller-wrapper>
                <div class="table table-bordered">
                    <template for:each={data} for:item="account">
                        <div key={account.accountName} class="slds-text-title_caps table-row title-row">
                            <div class="slds-size_8-of-12 table-element">
                                <div class="slds-grid_align-left align-left" title="Account">Account</div>
                            </div>
                            <div class="slds-size_2-of-12 table-element">
                                <div class="slds-grid_align-center align-center" title="Ship to ID">Ship to ID</div>
                            </div>
                            <div class="slds-size_2-of-12 table-element">
                                <div class="slds-grid_align-center align-center" title="Sales">Sales</div>
                            </div>
                        </div>
                        <div key={account.accountName} class="table-row">
                            <div data-label="Order" class="slds-size_8-of-12 table-element account-cell">
                                <div class="slds-grid" title={account.accountName}>
                                    <lightning-formatted-text value={account.accountName} ></lightning-formatted-text>
                                </div>
                            </div>
                            <div data-label="Ship to" class="slds-size_2-of-12 table-element account-cell align-center">
                                <div title={account.shipTo}>
                                    <lightning-formatted-text value={account.shipTo} ></lightning-formatted-text>
                                </div>
                            </div>
                            <div data-label="Sales" class="slds-size_2-of-12 table-element account-cell slds-text-align_center">
                                <div title={account.accountSales}>
                                    <lightning-formatted-number value={account.accountSales} maximum-fraction-digits="2" minimum-fraction-digits="2"></lightning-formatted-number>
                                </div>
                            </div>
                        </div>
                        <div key={account.accountName} class="slds-text-title_caps table-row title-row">
                            <div class="slds-size_2-of-12 table-element">
                                <div class="slds-grid_align-center align-center slds-truncate" title="Order">Order</div>
                            </div>
                            <div class="slds-size_1-of-12 table-element">
                                    <div class="slds-grid_align-center align-center slds-truncate" title="Invoice Date">Invoice Number</div>
                                </div>
                            <div class="slds-size_2-of-12 table-element">
                                <div class="slds-grid_align-center align-center slds-truncate" title="Invoice Date">Invoice Date</div>
                            </div>
                            <div class="slds-size_2-of-12 table-element">
                                <div class="slds-grid_align-center align-center slds-truncate" title="Group">Group</div>
                            </div>
                            <div class="slds-size_3-of-12 table-element">
                                <div class="slds-grid_align-center align-center slds-truncate" title="Item">Item</div>
                            </div>
                            <div class="slds-size_1-of-12 table-element">
                                <div class="slds-grid_align-center align-center slds-truncate" title="Units">Units</div>
                            </div>
                            <div class="slds-size_1-of-12 table-element">
                                <div class="slds-grid_align-center align-center slds-truncate" title="Sales">Sales</div>
                            </div>
                        </div>
                        <template for:each={account.sales} for:item="sale">
                            <div key={sale.Id} class="table-row">
                                <div data-label="Order" class="slds-size_2-of-12 table-element align-right">
                                    <div class="slds-grid slds-grid_align-center inline" title={sale.Order_Number__c}>
                                        <lightning-formatted-text value={sale.Order_Number__c} ></lightning-formatted-text>
                                    </div>
                                </div>
                                <div data-label="Invoice Number" class="slds-size_1-of-12 table-element align-right slds-truncate">
                                    <div class="slds-grid slds-grid_align-center inline" title={sale.Invoice_Number__c}>
                                        <lightning-formatted-text value={sale.Invoice_Number__c} ></lightning-formatted-text>
                                    </div>
                                </div>
                                <div data-label="Invoice Date" class="slds-size_2-of-12 table-element align-right slds-truncate">
                                    <div class="slds-grid slds-grid_align-center inline" title={sale.Invoice_Date__c}>
                                        <lightning-formatted-text value={sale.Invoice_Date__c} ></lightning-formatted-text>
                                    </div>
                                </div>
                            
                                <div data-label="Group" class="slds-size_2-of-12 table-element align-right slds-truncate">
                                    <div class="slds-grid slds-grid_align-center inline" title={sale.Product_Group__c}>
                                        <lightning-formatted-text value={sale.Product_Group__c} ></lightning-formatted-text>
                                    </div>
                                </div>
                                <div data-label="Item" class="slds-size_3-of-12 table-element align-left slds-truncate">
                                    <div class="slds-grid slds-grid_align-center inline" title={sale.Item_Number__c}>
                                            <lightning-formatted-text value={sale.Item_Number__c} ></lightning-formatted-text>
                                    </div>
                                </div>
                                <div data-label="Units" class="slds-size_1-of-12 table-element align-right slds-truncate">
                                    <div class="slds-grid slds-grid_align-center inline" title={sale.Units__c}>
                                            <lightning-formatted-number value={sale.Units__c} ></lightning-formatted-number>
                                    </div>
                                </div>
                                <div data-label="Sales" class="slds-size_1-of-12 table-element align-right slds-truncate">
                                    <div class="slds-grid slds-grid_align-center inline" title={sale.Sales__c}>
                                            <lightning-formatted-number value={sale.Sales__c} maximum-fraction-digits="2" minimum-fraction-digits="2"></lightning-formatted-number>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
            </c-scroller-wrapper>
        </template>
        <template if:false={dataLoaded}>
            <div class="slds-m-top_medium slds-m-bottom_x-large relative">
                <div class="table table-bordered">
                    <div class="slds-text-title_caps table-row title-row">
                        <div class="slds-size_3-of-12 table-element">
                            <div class="slds-grid_align-center" title="Account Name">Account</div>
                        </div>
                        <div class="slds-size_3-of-12 table-element">
                            <div class="slds-grid_align-center" title="Account City">City</div>
                        </div>
                        <div class="slds-size_2-of-12 table-element">
                            <div class="slds-grid_align-center" title="Account State">State</div>
                        </div>
                        <div class="slds-size_2-of-12 table-element">
                            <div class="slds-grid_align-center" title="Ship to ID">Ship to ID</div>
                        </div>
                        <div class="slds-size_2-of-12 table-element">
                            <div class="slds-grid_align-center" title="Sales">Sales</div>
                        </div>
                    </div>
                    <lightning-spinner alternative-text="Loading"></lightning-spinner>
                </div>
            </div>
        </template>
    </template>
</template>