.THIS .description{
   font-size: small;
   text-align: center;
}

.THIS th {
   background: #0D9DDA;
   color: #F3FFFD;
   font-weight: 600;
   text-align: center;
   height: 30px;
   font-size: medium;
}

.THIS .first-column-header{
   background: #F2F2F4;
   color: #606264;
   text-align: left;
}

.THIS .first-column{
   background: #F9F9FB;
   color: #226FC7;
}

.THIS .data-column{
   text-align: center;
   color: #686868;
}

 .THIS tr {
    background-color: #FFFFFF;
 }

 .THIS tr h1 {
   font-weight: 600;
 }

 .THIS tr h2 {
   font-weight: 400;
   font-size: smaller;
 }

 .THIS td {
   padding-left: 10px;
   height: 50px;
   min-width: 120px;
   max-width: 300px;
   border-bottom-style: solid;
   border-right-style: solid;
   border-bottom-color: #DADADC;
   border-right-color: #B7B7B9;
   border-width: thin;
 }

 .THIS th {
   padding-left: 10px;
 }

 .THIS tfoot tr{
   background-color: #FFFFFF !important;
   border: transparent;
   border-style: solid !important;
   color: #686868;
 }

 .THIS tbody > tr:last-child > td {
   border-bottom: 0;
 }

 .THIS tbody {
   border-right: transparent solid !important;
 }