.THIS .productGrid {
    display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin: 2px;
}
.THIS .gridPos1 {
	grid-column-start: 1;
	margin: 2px;
}
.THIS .gridPos2 {
	grid-column-start: 2;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos3 {
	grid-column-start: 3;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos4 {
	grid-column-start: 4;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos2 .slds-form-element__label {
	display: none;
}
.THIS .gridPos3 .slds-form-element__label {
	display: none;
}
.THIS .gridPos4 .slds-form-element__label {
	display: none;
}
.THIS .slds-form_horizontal {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}