.slds-modal__container {
    transform: none !important;
	max-width: 70rem !important;
   	width:50% !important;
    height:70% !important;
}
.slds-modal__container .bigModal {
   	width:60% !important;
}