.THIS {
    width: 100%;
    max-height: 280px;
    background-color: #fff;
    color: #3e3e3c;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out,
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
}
.THIS.collapsed {
    max-height: 44px;
    background-color: #004698;
    color: #fff;
}
.THIS svg.slds-icon-text-default {
    transition: fill 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}
.THIS.collapsed svg.slds-icon-text-default {
    fill: #fff;
    transform: rotatez(-90deg);
}
/*.THIS.collapsed .slds-icon-waffle_container:not(:focus) .slds-icon-waffle [class*=slds-r] {
    background-color: #fff;
}*/
.THIS .collapseTool {
    display: none;
}
.THIS .collapseTool button{
    box-shadow: none;
}
@media screen and (max-width: 768px) {
    .THIS .collapseTool {
        display: block;
    }
}
.THIS .selectedValue {
    color: #fff;
    max-width: 0;
    overflow: hidden;
    margin-left: 5px;
    text-transform: capitalize;
    transition: max-width 0.2s ease-in-out;
}
.THIS.collapsed .selectedValue {
    max-width: 80px;
}
.THIS h1 {
    padding-bottom: 5px;
    font-size: 1.1rem;
    display: inline-flex;
}
.THIS p {
    text-align: center;
    padding: 0 30px;
    color: #808080;
}
.THIS .disclaimer {
    width: 100%;
    font-size: 11px;
    font-style: italic;
    text-align: center;
    padding: 0 20px;
    margin: 10px 0;
}