.filter{
    margin-bottom:10px;
    display:block;
}
.refresh-button{
    margin-bottom: 10px;
    display: inline-block;
}
.printView {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

lightning-button.slds-m-left_x-small {
    width: 100%;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .filter{
        width: 100%;
    }
 }