<template>
    
    <lightning-button label="Refresh Page" title="Refresh Page" icon-name="utility:refresh" class="refresh-button" onclick={refresh}></lightning-button>
    <div class="slds-grid slds-gutters" style="flex-wrap:wrap;">
        <div class="slds-grid slds-col slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 filter" >
                <c-irsadc-account-filter ></c-irsadc-account-filter>
        </div>
        <div class="slds-grid slds-col slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 filter" >
            <c-irsadc-territory-filter ></c-irsadc-territory-filter>
        </div>
        <div class="slds-grid slds-col slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 filter" >
                <c-irsadc-time-range-selector ></c-irsadc-time-range-selector>
        </div>
        
        <template if:true={themeMobile}>
            <div class="slds-grid slds-col slds-size_1-of-1 slds-medium-size_1-of-1 slds-large-size_1-of-3 printView" >
                <lightning-button variant="brand" label="Search" title="Search" onclick={handlePrintViewClick} class="printView"></lightning-button>
            </div>
        </template>
    </div>
    
</template>