.THIS .header3 {
    text-align: center;
    margin-bottom: 30px;
}
.THIS .productGrid {
    display: grid;
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	margin: 10px;
}
.THIS .gridPos1 {
	grid-column-start: 1;
	text-align: right;
	margin: 2px;
}
.THIS .gridPos2 {
	grid-column-start: 2;
	text-align: right;
	margin: 2px;
}
.THIS .gridPos3 {
	grid-column-start: 3;
	text-align: right;
	margin: 2px;
}
.THIS .gridPos4 {
	grid-column-start: 4;
	text-align: right;
	margin: 2px;
}
.THIS .gridPos5 {
	grid-column-start: 5;
	text-align: right;
	margin: 2px;
}
.THIS .gridPos6 {
	grid-column-start: 6;
	text-align: right;
	margin: 2px;
}
.THIS .gridPos7 {
	grid-column-start: 7;
	text-align: right;
	margin: 2px;
}
.THIS .gridPos8 {
	grid-column-start: 8;
	text-align: right;
	margin: 2px;
}
.THIS .gridPos2 .slds-form-element__label {
	display: none;
}
.THIS .gridPos4 .slds-form-element__label {
	display: none;
}
.THIS .gridPos6 .slds-form-element__label {
	display: none;
}
.THIS .gridPos8 .slds-form-element__label {
	display: none;
}
.THIS .productGrid10 {
    display: grid;
	grid-template-columns: 10% 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
	margin: 2px;
}
.THIS .grid10Pos2 {
	grid-column-start: 1;
	font-weight: bold;
	margin: 2px;
}
.THIS .grid10Pos3 {
	grid-column-start: 2;
	text-align: center;
	margin: 2px;
}
.THIS .grid10Pos4 {
	grid-column-start: 3;
	text-align: center;
	margin: 2px;
}
.THIS .grid10Pos5 {
	grid-column-start: 4;
	text-align: center;
	margin: 2px;
}
.THIS .grid10Pos6 {
	grid-column-start: 5;
	text-align: center;
	margin: 2px;
}
.THIS .grid10Pos7 {
	grid-column-start: 6;
	text-align: center;
	margin: 2px;
}
.THIS .grid10Pos8 {
	grid-column-start: 7;
	text-align: center;
	margin: 2px;
}
.THIS .grid10Pos9 {
	grid-column-start: 8;
	text-align: center;
	margin: 2px;
}
.THIS .grid10Pos10 {
	grid-column-start: 9;
	text-align: center;
	margin: 2px;
}
.THIS .grid10Pos11 {
	grid-column-start: 10;
	text-align: center;
	margin: 2px;
}
.THIS .grid10Pos12 {
	grid-column-start: 11;
	text-align: center;
	margin: 2px;
}
.THIS .grid10Pos2 .slds-form-element__label {
	display: none;
}
.THIS .grid10Pos3 .slds-form-element__label {
	display: none;
}
.THIS .grid10Pos4 .slds-form-element__label {
	display: none;
}
.THIS .grid10Pos5 .slds-form-element__label {
	display: none;
}
.THIS .grid10Pos6 .slds-form-element__label {
	display: none;
}
.THIS .grid10Pos7 .slds-form-element__label {
	display: none;
}
.THIS .grid10Pos8 .slds-form-element__label {
	display: none;
}
.THIS .grid10Pos9 .slds-form-element__label {
	display: none;
}
.THIS .grid10Pos10 .slds-form-element__label {
	display: none;
}
.THIS .grid10Pos11 .slds-form-element__label {
	display: none;
}
.THIS .grid10Pos12 .slds-form-element__label {
	display: none;
}
.THIS .productContainer {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: inset;
	padding-bottom: 5px;
}
.THIS .yearLabel {
	font-size: 13px;
	font-weight: bold;
}
.THIS .questionLabel {
    font-size: 15px;
    margin-bottom: 20px;
}
.THIS input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.THIS input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.THIS .productLabel {
	font-weight: bold;
	font-size: initial;
	margin-left: 3px;
}
.THIS .revenueSize {
	font-size: 10px;
}

.THIS h4 {
	color: black;
}