.THIS .slds-transition-hide {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.THIS .slds-transition-show {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.THIS .slds-text-heading_medium {
    margin: 1rem 0;
}

.THIS .slds-select[size] option, 
.THIS .slds-select[multiple] option {
    padding: .25rem;
}

.THIS .slds-badge {
    display: inline-block;
    margin: .25rem 0;
}

.THIS #filter-badges {
    margin: .5rem 0;
}

.THIS .tile-results {
    margin-bottom: 1rem;
}