.align-center{
    text-align: center;
}
.category-title-cell{
    text-align: right;
    display: block;
}
.grandtotals-cell{
    padding: 5px 0px;
    font-weight: bold;
    text-align: right;
}
.grandtotals-row{
    background-color:#f3f2f2;
}
.height{
    height: 300px;
}
.product-category-cell{
    display: inline-block;
    width: 50%;
    text-align: left;
}
.product-cell{
    font-weight: bold;
}
.product-title-cell{
    color:#006dcc;
    cursor: pointer;
}
.unit-sale-cell{
    display: inline-block;
    width: 50%;
    text-align: right;
}
.relative{
    position:relative;
}
.removeColumn{
     display: none;
 }

.wrapper{
    display: block;
    padding: 20px;
    width: 100%;
    min-height: 244px;
    background-color: white;
    position: relative;
 }

 .overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 9999;
 }

 
 @media screen and (max-width: 768px) {
    .wrapper {
        overflow: auto;
        width: 100%;
        height: 100%;
    }
    table{
        width: 1200px !important;
    }
    .overlay {
        position: relative;
        display: block;
        width: 1200px !important;
    }

}
/* ----------- iPad ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .unit-sale-cell.unit-cell{
        width: 35% !important;
        text-align: center;
    }

    .unit-sale-cell.sale-cell{
        width: 65% !important;
        text-align: center;
    }
}