<template>
    <template if:true={themeDesktop}>
        <div class="wrapper">
            <div class="overlay"></div>
            <table class="slds-table slds-table_bordered slds-table_col-bordered">
                <thead>
                    <tr class="slds-text-title_caps">
                        <td class="slds-size_2-of-12">
                            <div class="slds-truncate slds-grid_align-center align-center"></div>
                        </td>
                        <td class="slds-size_2-of-12">
                            <div class="slds-truncate slds-grid_align-center align-center" title="Yesterday">Yesterday
                            </div>
                        </td>
                        <td class={weekdateClass1}>
                            <div class="slds-truncate slds-grid_align-center align-center" title="Weed Date">
                                {weekHeaders.week1}</div>
                        </td>
                        <td class={weekdateClass2}>
                            <div class="slds-truncate slds-grid_align-center align-center" title="Week Date">
                                {weekHeaders.week2}</div>
                        </td>
                        <td class={weekdateClass3}>
                            <div class="slds-truncate slds-grid_align-center align-center" title="Week Date">
                                {weekHeaders.week3}</div>
                        </td>
                        <td class={weekdateClass4}>
                            <div class="slds-truncate slds-grid_align-center align-center" title="Week Date">
                                {weekHeaders.week4}</div>
                        </td>
                        <td class={weekdateClass5}>
                            <div class="slds-truncate slds-grid_align-center align-center" title="Week Date">
                                {weekHeaders.week5}</div>
                        </td>
                        <td class={weekdateClass6}>
                            <div class="slds-truncate slds-grid_align-center align-center" title="Week Date">
                                {weekHeaders.week6}</div>
                        </td>
                        <td class="slds-size_2-of-12">
                            <div class="slds-truncate slds-grid_align-center align-center" title="Week Date">Month Total
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="slds-text-title_caps">
                        <th scope="col" class="slds-size_2-of-12">
                            <div class="slds-truncate slds-grid_align-center product-category-cell" title="Units">Group
                            </div>
                            <div class="slds-truncate slds-grid_align-center product-category-cell" title="Sales">
                                Category</div>
                        </th>
                        <th scope="col" class="slds-size_2-of-12">
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell unit-cell" title="Units">
                                Units</div>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell sale-cell" title="Sales">
                                Sales</div>
                        </th>
                        <th scope="col" class={weekdateClass1}>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell unit-cell" title="Units">
                                Units</div>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell sale-cell" title="Sales">
                                Sales</div>
                        </th>
                        <th scope="col" class={weekdateClass2}>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell unit-cell" title="Units">
                                Units</div>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell sale-cell" title="Sales">
                                Sales</div>
                        </th>
                        <th scope="col" class={weekdateClass3}>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell unit-cell" title="Units">
                                Units</div>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell sale-cell" title="Sales">
                                Sales</div>
                        </th>
                        <th scope="col" class={weekdateClass4}>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell unit-cell" title="Units">
                                Units</div>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell sale-cell" title="Sales">
                                Sales</div>
                        </th>
                        <th scope="col" class={weekdateClass5}>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell unit-cell" title="Units">
                                Units</div>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell sale-cell" title="Sales">
                                Sales</div>
                        </th>
                        <th scope="col" class={weekdateClass6}>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell unit-cell" title="Units">
                                Units</div>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell sale-cell" title="Sales">
                                Sales</div>
                        </th>
                        <th scope="col" class="slds-size_2-of-12">
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell unit-cell" title="Units">
                                Units</div>
                            <div class="slds-truncate slds-grid_align-center unit-sale-cell sale-cell" title="Sales">
                                Sales</div>
                        </th>
                    </tr>
                    <template for:each={data} for:item="item">
                        <tr key={item.product}>
                            <td data-label="Group">
                                <div class="slds-truncate slds-grid slds-grid_align-left product-cell product-category-cell"
                                    title={item.product}>
                                    <lightning-formatted-text value={item.product}></lightning-formatted-text>
                                    <!-- onclick={changeProduct} for filtering by group // product-title-cell class in father -->
                                </div>
                                <div class="slds-truncate slds-grid slds-grid_align-left product-category-cell"
                                    title={item.categories}>
                                    <lightning-formatted-text value={item.categories}></lightning-formatted-text>
                                </div>
                            </td>
                            <td data-label="Yesterday">
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell unit-cell"
                                    title={item.yesterday_units}>
                                    <lightning-formatted-number value={item.yesterday_units}>
                                    </lightning-formatted-number>
                                </div>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell sale-cell"
                                    title={item.yesterday_sales}>
                                    <lightning-formatted-number value={item.yesterday_sales}
                                        maximum-fraction-digits="0"></lightning-formatted-number>
                                </div>
                            </td>

                            <td data-label="Week Date 1" class={weekdateClass1}>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell unit-cell"
                                    title={item.weekdate1_units}>
                                    <lightning-formatted-number value={item.weekdate1_units}>
                                    </lightning-formatted-number>
                                </div>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell sale-cell"
                                    title={item.weekdate1_sales}>
                                    <lightning-formatted-number value={item.weekdate1_sales}
                                        maximum-fraction-digits="0"></lightning-formatted-number>
                                </div>
                            </td>
                            <td data-label="Week Date 2" class={weekdateClass2}>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell unit-cell"
                                    title={item.weekdate2_units}>
                                    <lightning-formatted-number value={item.weekdate2_units}>
                                    </lightning-formatted-number>
                                </div>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell sale-cell"
                                    title={item.weekdate2_sales}>
                                    <lightning-formatted-number value={item.weekdate2_sales}
                                        maximum-fraction-digits="0"></lightning-formatted-number>
                                </div>
                            </td>
                            <td data-label="Week Date 3" class={weekdateClass3}>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell unit-cell"
                                    title={item.weekdate3_units}>
                                    <lightning-formatted-number value={item.weekdate3_units}>
                                    </lightning-formatted-number>
                                </div>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell sale-cell"
                                    title={item.weekdate3_sales}>
                                    <lightning-formatted-number value={item.weekdate3_sales}
                                        maximum-fraction-digits="0"></lightning-formatted-number>
                                </div>
                            </td>
                            <td data-label="Week Date 3" class={weekdateClass4}>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell unit-cell"
                                    title={item.weekdate4_units}>
                                    <lightning-formatted-number value={item.weekdate4_units}>
                                    </lightning-formatted-number>
                                </div>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell sale-cell"
                                    title={item.weekdate4_sales}>
                                    <lightning-formatted-number value={item.weekdate4_sales}
                                        maximum-fraction-digits="0"></lightning-formatted-number>
                                </div>
                            </td>
                            <td data-label="Week Date 3" class={weekdateClass5}>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell unit-cell"
                                    title={item.weekdate5_units}>
                                    <lightning-formatted-number value={item.weekdate5_units}>
                                    </lightning-formatted-number>
                                </div>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell sale-cell"
                                    title={item.weekdate5_sales}>
                                    <lightning-formatted-number value={item.weekdate5_sales}
                                        maximum-fraction-digits="0"></lightning-formatted-number>
                                </div>
                            </td>
                            <td data-label="Week Date 6" class={weekdateClass6}>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell unit-cell"
                                    title={item.weekdate6_units}>
                                    <lightning-formatted-number value={item.weekdate6_units}>
                                    </lightning-formatted-number>
                                </div>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell sale-cell"
                                    title={item.weekdate6_sales}>
                                    <lightning-formatted-number value={item.weekdate6_sales}
                                        maximum-fraction-digits="0"></lightning-formatted-number>
                                </div>
                            </td>
                            <td data-label="Totals">
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell unit-cell"
                                    title={item.month_units}>
                                    <lightning-formatted-number value={item.month_units}></lightning-formatted-number>
                                </div>
                                <div class="slds-truncate slds-grid slds-grid_align-center product-cell unit-sale-cell sale-cell"
                                    title={item.month_sales}>
                                    <lightning-formatted-number value={item.month_sales} maximum-fraction-digits="0">
                                    </lightning-formatted-number>
                                </div>
                            </td>
                        </tr>
                    </template>
                    <tr class="slds-text-title_caps grandtotals-row">
                        <td class="slds-size_2-of-12">
                            <div class="slds-truncate slds-grid_align-center grandtotals-cell" title="Grand Total">Grand
                                Total</div>
                        </td>
                        <td class="slds-size_2-of-12">
                            <div class="slds-truncate slds-grid_align-center grandtotals-cell"
                                title="Yesterday GrandTotals">
                                <lightning-formatted-number value={grandTotals.yesterday} maximum-fraction-digits="0">
                                </lightning-formatted-number>
                            </div>
                        </td>
                        <td class={weekdateClass1}>
                            <div class="slds-truncate slds-grid_align-center grandtotals-cell"
                                title="Week Date 1 GrandTotals">
                                <lightning-formatted-number value={grandTotals.weekdate1} maximum-fraction-digits="0">
                                </lightning-formatted-number>
                            </div>
                        </td>
                        <td class={weekdateClass2}>
                            <div class="slds-truncate slds-grid_align-center grandtotals-cell"
                                title="Week Date 2 GrandTotals">
                                <lightning-formatted-number value={grandTotals.weekdate2} maximum-fraction-digits="0">
                                </lightning-formatted-number>
                            </div>
                        </td>
                        <td class={weekdateClass3}>
                            <div class="slds-truncate slds-grid_align-center grandtotals-cell"
                                title="Week Date 3 GrandTotals">
                                <lightning-formatted-number value={grandTotals.weekdate3} maximum-fraction-digits="0">
                                </lightning-formatted-number>
                            </div>
                        </td>
                        <td class={weekdateClass4}>
                            <div class="slds-truncate slds-grid_align-center grandtotals-cell"
                                title="Week Date 4 GrandTotals">
                                <lightning-formatted-number value={grandTotals.weekdate4} maximum-fraction-digits="0">
                                </lightning-formatted-number>
                            </div>
                        </td>
                        <td class={weekdateClass5}>
                            <div class="slds-truncate slds-grid_align-center grandtotals-cell"
                                title="Week Date 5 GrandTotals">
                                <lightning-formatted-number value={grandTotals.weekdate5} maximum-fraction-digits="0">
                                </lightning-formatted-number>
                            </div>
                        </td>
                        <td class={weekdateClass6}>
                            <div class="slds-truncate slds-grid_align-center grandtotals-cell"
                                title="Week Date 6 GrandTotals">
                                <lightning-formatted-number value={grandTotals.weekdate6} maximum-fraction-digits="0">
                                </lightning-formatted-number>
                            </div>
                        </td>
                        <td class="slds-size_2-of-12">
                            <div class="slds-truncate slds-grid_align-center grandtotals-cell"
                                title="Total GrandTotals">
                                <lightning-formatted-number value={grandTotals.month} maximum-fraction-digits="0">
                                </lightning-formatted-number>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <template if:false={dataLoaded}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </template>
    </template>
</template>