.THIS #progress-indicator-tooltip {
    display: none;
}
.THIS .slds-text-heading_medium {
    font-weight: bold;
}
.THIS .slds-form-element__label {
    font-weight: bold;
}
.THIS .slds-form-element_horizontal .slds-form-element__control,.THIS .slds-form_horizontal .slds-form-element .slds-form-element__control,.THIS .slds-form_stacked .slds-form-element_horizontal .slds-form-element__control {
    padding-left: 20%;
}
.THIS .slds-form_horizontal {
    margin-left: auto;
    margin-right: auto;
    width: 78%;
}
.THIS .productCostGrid {
    display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin: 30px 20px;
}
.THIS .gridPosCost1 {
	grid-column-start: 1;
	text-align: right;
	margin: 2px;
}
.THIS .gridPosCost2 {
	grid-column-start: 2;
	text-align: center;
	margin: 2px;
}
.THIS .gridPosCost3 {
	grid-column-start: 3;
	text-align: right;
	margin: 2px;
}
.THIS .gridPosCost4 {
	grid-column-start: 4;
	text-align: center;
	margin: 2px;
}
.THIS .gridPosCost2 .slds-form-element__label {
	display: none;
}
.THIS .gridPosCost4 .slds-form-element__label {
	display: none;
}
.THIS .productGrid {
    display: grid;
	grid-template-columns: 10% 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
	margin: 2px;
}
.THIS .gridPos1 {
	grid-column-start: 1;
	margin: 2px;
}
.THIS .gridPos2 {
	grid-column-start: 2;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos3 {
	grid-column-start: 3;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos4 {
	grid-column-start: 4;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos5 {
	grid-column-start: 5;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos6 {
	grid-column-start: 6;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos7 {
	grid-column-start: 7;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos8 {
	grid-column-start: 8;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos9 {
	grid-column-start: 9;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos10 {
	grid-column-start: 10;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos11 {
	grid-column-start: 11;
	text-align: center;
	margin: 2px;
}
.THIS .gridPos2 .slds-form-element__label {
	display: none;
}
.THIS .gridPos3 .slds-form-element__label {
	display: none;
}
.THIS .gridPos4 .slds-form-element__label {
	display: none;
}
.THIS .gridPos5 .slds-form-element__label {
	display: none;
}
.THIS .gridPos6 .slds-form-element__label {
	display: none;
}
.THIS .gridPos7 .slds-form-element__label {
	display: none;
}
.THIS .gridPos8 .slds-form-element__label {
	display: none;
}
.THIS .gridPos9 .slds-form-element__label {
	display: none;
}
.THIS .gridPos10 .slds-form-element__label {
	display: none;
}
.THIS .gridPos11 .slds-form-element__label {
	display: none;
}
.THIS .productContainer {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.THIS .yearLabel {
	font-size: 13px;
}
.THIS .slds-form-element__control .slds-grow {
	padding-left: 0 !important;
}