.THIS {
    width: 100%;
    display: flex;
    /*max-height: 200px;*/
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: #3e3e3c;
    text-align: center;
    padding: 10px;
    flex-direction: column;
}
@media (width: 1024px) {
    .THIS {
        max-height: none !important;
    }
}
.THIS h1 {
    padding-bottom: 5px;
    font-size: 1.1rem;
    display: inline-flex;
}
.THIS p {
    padding: 20px 30px;
    color: #808080;
}
.THIS .distSwitch {
    padding-top: 10px;
}
.THIS .distSwitch label.slds-checkbox_toggle {
    display: flex;
}
.THIS .distSwitch span.slds-checkbox_faux_container {
    margin: 0 auto;
}